<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="product" translate="label" sortOrder="10">
            <label> Product Config</label>
        </tab>
        <section id="product" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Product</label>
            <tab>product</tab>
            <resource>AHT_Product::product_config</resource>
            <group id="product" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Product Post</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Post</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
            <group id="product-slide" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Product Slider</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Slide</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
            <group id="product-number" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Product Number</label>
                <field id="number-page" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Number Per Page</label>
                    <comment>Must be in the allowed values list.</comment>
                    <validate>validate-number required-entry</validate>
                </field>
                <field id="number-slide" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Number Per Sile</label>
                    <comment>Must be in the allowed values list.</comment>
                    <validate>validate-number required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>
